body {
  display: grid;
  grid-template-columns: 150px;
  grid-gap: 20px;
}
.red {
  order: 1;
  width: 150px;
  height: 150px;
  background-color: red;
}

.blue {
  order: 3;
  width: 150px;
  height: 150px;
  background-color: blue;
}

.yellow {
  order: 2;
  width: 150px;
  height: 150px;
  background-color: yellow;
}
