.grid-container {
display: grid;
grid-template-columns: 20%;
grid-gap: 10px;
}

.red {
  order: -1;
  width: 150px;
  height: 150px;
  background-color: red;
}

.blue {
  order: 1;
  width: 150px;
  height: 150px;
  background-color: blue;
}

.yellow {
  width: 150px;
  height: 150px;
  background-color: yellow;
}
