body {
  display: grid;
  grid-template-columns: 150px;
}

.red {
  width: 150px;
  height: 150px;
  background-color: red;
  order: 0;
}

.blue {
  width: 150px;
  height: 150px;
  background-color: blue;
  order: 2;
}

.yellow {
  width: 150px;
  height: 150px;
  background-color: yellow;
  order: 1;
}
