body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px
}


.yellow {
  grid-template-areas: 
  "1 . 2 . 3"
  "4 5 5 . ."
  "6 . 7 7 8"
  "9 . 7 7 ."
}

.one {
  background: black;
}

.seven{
  grid-area: 7;
}

.eight{
  grid-area: 8;
}
.nine{
  grid-area: 9;
}

.six{
  grid-area: 6;
}
