body {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: 1fr 5fr 0.5fr;
  grid-template-rows: 1.7fr 2fr 0.60fr .60fr;
  gap: .75rem;
  height: 100vh;
  background-color: black;
}

.child {
  border-radius: 5px;
  padding: 10px;
}

.a {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: white;
}

.b {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: white;
}

.c {
  grid-column: 2/4;
  grid-row: 1/3;
  background-color: red;
}

.d {
  grid-column: 1/2;
  grid-row: 3/5;
  background-color: blue;
}

.e {
  grid-column: 2/3;
  grid-row: 3/5;
  background-color: white;
}

.f {
  grid-column: 3/4;
  grid-row: 3/4;
  background-color: white;
}

.g {
  grid-column: 3/4;
  grid-row: 4/5;
  background-color: yellow;
}
